
.logo{
    width: 160px;
    margin: 0 auto;
}
.button{
    transition: color 0.3s, background-color 0.3s;
    padding: 0.5em 1.5em;
    outline: none;
    border: 0;
    border-radius: 5px;
    color:#6451CE;
    background: #EBE8FF;
    font-size: 16px;
}
.button_login{
    transition: padding 0.2s, margin 0.2s, color 0.3s, background-color 0.3s, flex 0.3s;
    padding: 0.5em 1.5em;
    margin: 0.1em 0.3em;
    outline: none;
    border: 0;
    border-radius: 5px;
    color:#6451CE;
    background: #EBE8FF;
    font-size: 15px;
}

.login_select{
    margin-top: 2em;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;
}
.login{
    margin-bottom: 0.5em;
}
.user_input{
    border: 0;
    outline: 0;
}
.user_input_box{
    display: flex;
    align-items: center;
    border: 1px solid #a6a4b3;
    padding: 0.5em 1em;
    border-radius: 5px;
    margin-bottom: 1em;
}
.user_input_box img{
    height: 17px;
}
.user_input{
    margin-left: 0.5em;
}
.input_label{
    font-size: 13px;
    margin-bottom: 0.5em;
}
.button:hover{
    color: #EBE8FF;
    background: #6451CE;
    cursor: pointer;
}
.button_login:hover{
    color: #EBE8FF;
    background: #6451CE;
    cursor: pointer;
    padding: 0.5em 2em;
    margin: 0;
}
.button_login.active{
    flex: 1;
}




.loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    border-top: 3px solid #6451CE;
    border-right: 3px solid transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    margin: 4em auto 0 auto;
  }
  
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } 