.reset_password{
    background: #ffffff;
    border-radius: 10px 10px 0 0;
    -webkit-box-shadow: 0px 0px 35px 1px rgba(0,0,0,0.48);
    -moz-box-shadow: 0px 0px 35px 1px rgba(0,0,0,0.48);
    box-shadow: 0px 0px 35px 1px rgba(0,0,0,0.48);
    padding: 1em 0 1.5em 0;
    width: 100vw;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 999999;
}
.res_pas_message{
    display: flex;
    align-items: center;
    margin-bottom: 1em;
}
.message_icon{
    height: 17px;
}
.message{
    margin-left: 0.5em;
    font-size: 14px;
}
.error_message{
    color: #FF4F4F ;
}
.ok_message{
    color: #5EEB2D ;
}
.reset_password_box{
    margin: auto;
    width: 350px;
}
.reset_password_padding{
    display: flex;
    flex-direction: column;
    padding: 0 2.5em;
}
.res_pas_title{
    color:#393939;
    font-weight: 500;
    margin-bottom: 1em;
    font-size:  19px;
}
.res_pas_desc{
    color:#393939;
    font-size: 13px;
    margin-bottom: 0.5em;
}