*{
    margin: 0;
    padding: 0;
}
body{
    min-height: 100vh;
    margin: auto;
    position: relative;
    overflow-x: hidden;
}
#root{
    min-height: 100vh;
}
button,p,h1,h2,input,label{
    font-family: 'Roboto',sans-serif;
}